@keyframes wave{
   0%{
       stroke-dashoffset: 454;
   }
   100%{
       stroke-dashoffset: 0;
   }
}

@keyframes titlewavedown{
   0%{
       stroke-dashoffset: 280;
   }
   100%{
       stroke-dashoffset: 0;
   }
}

@keyframes titlewaveup{
   0%{
       stroke-dashoffset: 253;
   }
   100%{
       stroke-dashoffset: 0;
   }
}

@keyframes footwire{
   0%{
      stroke-dashoffset: 780;
   }
   100%{
      stroke-dashoffset: 0;
   }
}

@keyframes secwavegray{
   0%{
      stroke-dashoffset: 908;
   }
   100%{
      stroke-dashoffset: 0;
   }
}

@keyframes secwaveorange{
   0%{
      stroke-dashoffset: 632;
   }
   100%{
      stroke-dashoffset: 0;
   }
}

@keyframes animateherobg {
    0% { 
       background-size: 95%;
    }
    to { 
        background-size: 100%;
    }
}

@keyframes firstdot {
    from { 
       transform: translate(0px,0px) scale(1);
    }
    to { 
       transform: translate(95vw,85vh) scale(1.5);
    }
}

@keyframes seconddot {
    from { 
       transform: translate(95vw,85vh) scale(1.5);
    }
    to { 
       transform: translate(0px,0px) scale(1);
    }
}

@keyframes thirdot {
    from { 
       transform: translate(95vw,10vh) scale(1.5);
    }
    to { 
       transform: translate(0px,90vh) scale(1);
    }
}

@keyframes fourthdot {
    from { 
       transform: translate(50vw,50vh) scale(1.5);
    }
    to { 
       transform: translate(50vw,10vh) scale(1);
    }
}

@keyframes fifthdot {
    from { 
       transform: translate(50vw,50vh) scale(1.5);
    }
    to { 
       transform: translate(95vw,50vh) scale(1);
    }
}

@keyframes dotscale {
    0% { width: 10px; height: 10px; }
    100%   { width: 50px; height: 50px; }
}