$assets: '../images/';
$background: #fff;
$text_color: #78787e;
$text_color_dark: #383838;
$da_orange_color: #e14917;
$ham_line_stroke_width: 6;
$light_gray: #f8f8f8;
$text_white: #fff;
$very_light_gray: #bababa;
$carbon_color: #312e2e;
$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;