@import url(../css/fonts.css);
$assets: '../images/';
$background: #fff;
$text_color: #78787e;
$text_color_dark: #383838;
$da_orange_color: #e14917;
$ham_line_stroke_width: 6;
$light_gray: #f8f8f8;
$text_white: #fff;
$very_light_gray: #bababa;

@mixin btnshadow {
    box-shadow: 0px 3px 6px $da_orange_color;
}

@mixin btnshadowdark {
    box-shadow: 0px 3px 10px rgba($color: #000000, $alpha: 0.25);
}
@mixin nthChildNav($item, $count) {
    $a-delay: 0.3s;
    $a-duration: 0.3s;

    @for $i from 1 through $count {
        #{$item}:nth-of-type(#{$i}) {
            transition: opacity $a-duration ($a-delay + ($i - 1) * 0.1), transform $a-duration ($a-delay + ($i - 1) * 0.1);
        }
        // @debug $i;
    }
}

@mixin linkbefore {
    &:hover{
        color: $da_orange_color;
        &:before{
            width: 100%;
        }
    }
    &:before{
        position: absolute;
        bottom: -10px;
        content: "";
        left: 0;
        width: 0%;
        height: 1px;
        background-color: $da_orange_color;
        transition: width .3s ease;
    }
}
@media (min-width: 1405px) {
    .container-fluid{
      width: 1400px;
    }
}

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
        font-size: $min-font-size;
        @media screen and (min-width: $min-vw) {
            font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        }
        @media screen and (min-width: $max-vw) {
            font-size: $max-font-size;
        }
        }
    }
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;


@mixin normalfont {
    font-family: 'Moderat';
    font-style: normal;
    font-weight: normal;
}
@mixin boldfont {
    font-family: 'ModeratB';
    font-weight: bold;
    font-style: normal;
}
@mixin blackfont {
    font-family: 'ModeratBl';
    font-weight: 900;
    font-style: normal;
}
body{
    @include normalfont();
    color: $text_color;
    @include fluid-type($min_width, $max_width, 14px, 16px);
    background-color: $light_gray;
}
h2{
    @include boldfont();
}   
/* ditch the ugle blue outline */
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
    box-shadow: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(225, 73, 23, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler .close-icon{
    color: $da_orange_color;
}
.custom-toggler.navbar-toggler {
    border-color: $da_orange_color;
} 
.navbar-toggler{
    border: none !important;
}
header{
    &.site-header{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
    }
    &.fixed{
        background: #fff;
        box-shadow: 0px 1px 10px rgba(0,0,0,.15);
    }

}
.hero{
    padding-top: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../images/hero-img-mobile.png');
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;    
    h3,h1,a{
        position: relative;
        z-index: 3;
    }
    @media screen and (min-width: 768px){
        background-image: url('../images/hero-img.png');        
    }
}
.da-btn{
    @include boldfont();
    @include btnshadow();
    background-color: $da_orange_color;
    color: #fff;
    border-radius: 30px;
    padding: 10px 25px;
    &:hover{
     box-shadow: none;
     color: #fff;
    }
}
.hero h1{
    @include fluid-type($min_width, $max_width, 48px, 88px);
    line-height: 110%;
    @include blackfont();
    color: $text_color_dark;
}
.hero h3{
    @include boldfont();
    line-height: 110%;
    color: $text_color_dark;
}
.sec-padding
{
    padding: 45px 0;
    @media screen and (min-width: 768px){
        padding: 90px 0;
    }
}
.sec-heading{
    color: $text_color_dark;
    @include boldfont()
}
.intro-sec{
    position: relative;
    svg {
        display: none;
        width: 50%;
        height: 50%;
        position: absolute;
        left: 0;
        top: 0;
        #orangepath {
            stroke: $da_orange_color;
            stroke-width: .75px;
            stroke-linecap: round;
            fill: none;
            stroke-dasharray: 454;
            &.is-visible{
                animation: wave 1.5s ease-in forwards;    
            }
        }
        #graypath{
            stroke: #797979;
            stroke-width: .75px;
            stroke-linecap: round;
            fill: none;
            stroke-dasharray: 454;
            &.is-visible{
                animation: wave 1.5s ease-in forwards;    
            }
        }
        @media screen and (min-width: 768px){
            display: block;
        }
    }    
    
}
.show-on-scroll{
    opacity: 0;
    transition: opacity .5s ease, transform .5s ease;
    transform: translateY(25px);
    &.is-visible{
        opacity: 1;
        transform: translateY(0px);
    }
}
.da-card{
    border-radius: 30px;
    background-color: #fff;
    padding: 20px;
    img{
        transform: translatey(0px);
        animation: float 6s ease-in-out infinite;
    }
    &:hover{
        box-shadow: 0px 3px 40px rgba($color: #000000, $alpha: .15);
    }
    @media screen and (min-width: 768px){
        padding: 20px 40px;
    }
}
.boxlink{
    text-decoration: none;
    color: $text_color;
    &:hover{
        color: $text_color;
    }
}
.solutions-to-grow{
    background-image: url('../images/solutions-to-grow-business-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    overflow: hidden;
    .upper-curve{
        svg{
            width: 100%;
            height: 120px;
            @media screen and (max-width: 600px) {
                height: 80px;
            }
        }
    }
    h5{
        @include boldfont();
        @include fluid-type($min_width, $max_width, 32px, 50px);
        color: #fff;
    }
    .lower-curve,
    .upper-curve{
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 1;
    }
    .upper-curve{
        bottom: auto;
        top: 0%;
    }
    .container-fluid{
        z-index: 2;
        position: relative;
    }
}
.btn-dark-shadow{
    @include btnshadowdark()
}

/**** Timeline ****/
.case-study-nav{
    position: relative;
    &:after{
        position: absolute;
        top: 0;
        left: 0%;
        background: $very_light_gray;
        content: "";
        width: 5px;
        z-index: 1;
        height: 100%;
        border-radius: 5px;
        @media screen and (min-width: 768px) {
            left: 50%;
        }
    }
   
}
.case-study-item{
    &.active .case-study-left{
        &:after{
            background: $da_orange_color;
        }
    }
    @media screen and (min-width: 768px) {
        display: flex;
    }
}
.case-study-left{
    width: 50%;
    position: relative;
    padding-right: 0%;
    padding-left: 10%;
    &:after{
       content: '';
       width: 5px;
       right: -5px;
       background: $very_light_gray;
       position: absolute;
       top: 0;
       height: 100%;
       z-index: 2;
    }
    @media screen and (min-width: 768px) {
        padding-right: 10%;
    }
}
.case-study-right{
    width: 50%;
    padding-left: 10%;
    @media screen and (min-width: 768px) {
        padding-left: 10%;
    }
}
.case-study-item{
    cursor: pointer;
    margin-bottom: 1.2rem;
    @include boldfont();
    h2{
        line-height: 110%;
        color: $very_light_gray;
        transition: all .3s ease-in;
        @include fluid-type($min_width, $max_width, 18px, 25px);
    }
    h3{
        color: #000;
        @include fluid-type($min_width, $max_width, 16px, 20px);
        line-height: 110%;
    }
    p{
      color: $text_color_dark;  
    }
    &.active h2{
        color: $da_orange_color;
        line-height: 120%;
        @include fluid-type($min_width, $max_width, 24px, 32px);
    }
    &.active img{
        transform: scale(1.2);
        box-shadow: 0px 3px 10px $da_orange_color;
    }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
.cslides{
	position: relative;
    max-height: 9900px;
    height: auto;
	padding: 0px;
	margin: 0px;
    list-style-type: none;
}

.cslide{
    transition: all .5s ease-in;
    opacity: 1;
}

.showing{
	opacity: 1;
	z-index: 2;
}

.case-studies {
    @include boldfont();
    padding-bottom: 60px;
    h3{
        @include fluid-type($min_width, $max_width, 16px, 18px);
        color: $da_orange_color;
    }

    h4{
        color: $text_color_dark;
        @include fluid-type($min_width, $max_width, 18px, 20px);
    }
    p{
        @include normalfont();
    }
}

.case-study-thumb-caption{
    position: absolute;
    bottom: 0;
    @include boldfont();
    background-color: rgba($color: #000000, $alpha: .75);
    padding: 20px;
    width: 100%;
    @media screen and (min-width: 768px) {
        width: 50%;
    }
    h5{
        color: $da_orange_color;
        @include fluid-type($min_width, $max_width, 18px, 20px);
    }
    h6{
        color: $text_white;
        @include fluid-type($min_width, $max_width, 18px, 20px);
    }
}
.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    opacity: 0;;
}
.cta h4{
    @include boldfont();
    color: #383838;
    @include fluid-type($min_width, $max_width, 24px, 30px);
}
.socialicons{
    padding-left: 0;
    li{
        display: inline-block;
        margin-right: 10px;
        font-size: 30px;
        &:last-child{
            margin-right: 0px;
        }
        a{
            color: #e14917;
        }
    }
}
.da-cta{
    padding-bottom: 0;
    .footer-curve{
        position: absolute;
        width: 100%;
        height: 120%;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    .container{
        position: relative;
        z-index: 2;
    }
}
footer{
    position: relative;
    background-color: $text_white;
    .container{
        position: relative;
        z-index: 2;
    }
    h4{
        @include boldfont();
        color: $text_color;
        @include fluid-type($min_width, $max_width, 16px, 18px);
    }
    .copyright{
        p{
            font-size: 10px;
        }
    }
    .footer-links{
        padding-left: 0;
        li{
            list-style: none;
            margin-bottom: 10px;
            a{
                color: $text_color;
                text-decoration: none;
                @include fluid-type($min_width, $max_width, 13px, 15px);
                position: relative;
                &:before{
                    width: 0%;
                    left: 0;
                    height: 1px;
                    bottom: -10px;
                    position: absolute;
                    background-color: $da_orange_color;
                    transition: width .3s ease;
                    content: "";
                }
                &:hover{
                    color: $da_orange_color;
                    &:before{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@keyframes wave{
    0%{
        stroke-dashoffset: 454;
    }
    100%{
        stroke-dashoffset: 0;
    }
}

/******** Moving dots *********/
.dots-moving{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 0;
    padding-top: 82px;
    height: 100%;
    li{
        list-style: none;
        position: absolute;
        display: flex;
        a{
            text-decoration: none;
            @include boldfont();
            @include fluid-type($min_width, $max_width, 14px, 17px);
            color: $text_color_dark;
            h4{
                color: $da_orange_color;
                @include fluid-type($min_width, $max_width, 16px, 24px);
            }
        }
        &.first{
            animation: firstdot 20s ease-in infinite;
            animation-direction: alternate;
            &:hover{
                animation-play-state: paused;
            }
        }
        &.second{
            animation: seconddot 20s ease-in infinite;
            animation-direction: alternate;
            &:hover{
                animation-play-state: paused;
            }
        }
        &.third{
            left: 40%;
            top:20%;
            transform: scale(1.5);
        }
        &.fourth{
            animation: fourthdot 20s ease-in infinite;
            animation-direction: alternate;
            &:hover{
                animation-play-state: paused;
            }
        }
        &.fifth{
            animation: fifthdot 20s ease-in infinite;
            animation-direction: alternate;
            &:hover{
                animation-play-state: paused;
            }
        }
        &.sixth{
            left: 65%;
            top:20%;
            transform: scale(1.5);
        }
        span{
            background-color: #e14917;
            width: 10px;
            height: 10px;
            border-radius: 50%; 
            transition: all .3s ease-in;
            display: block;
        }  
        &:hover{
            @media screen and (min-width: 768px)
            {
                .dt-content{
                    display: block;
                }
            }            
        }  
        .dt-content{
            display: none;
        }   
    }
}

.menucnt{
    position: fixed;
    z-index: 100;
    left: -100%;
    top: 0;
    height: 100vh;
    background: url('../images/menubg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    overflow-y: hidden; // hide vertical
    overflow-x: hidden; // hide horizontal
    transition: left .3s ease;
    &.open{
        left: 0%;
        .close-menu-cnt{
            opacity: 1;
            transition: opacity .1s ease;
        }
        #search-da{
            opacity: 1;
            transform: translateY(0px);
        }
        .main-container-menu
        {
            .main-menu
            {
                li{
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
            .service-links{
                li{
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
        }
    }
    .close-menu-cnt{
        color: $da_orange_color;
        font-size: 38px;
        opacity: 0;
        transition: opacity .3s ease .3s;
    }
    .main-menu{
        padding-left: 0;
        @include nthChildNav(li,7);
        li{
            list-style: none;
            margin-bottom: 15px;
            opacity: 0;
            transform: translateY(25px);
            a{
                @include boldfont();
                @include fluid-type($min_width, $max_width, 17px, 22px);
                color: #fff;
                text-decoration: none;
                letter-spacing: .1rem;
                position: relative;                
                &:before{
                    width: 0%;
                    content: "";
                    height: 1px;
                    background-color: $da_orange_color;
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    transition: width .3s ease;
                }
                &:hover{
                    color: $da_orange_color;
                    &:before{
                        width: 100%;
                    }
                }
            }
        }
        
    }
    #search-da{
        opacity: 0;
        transform: translateY(25px);
        transition: opacity 0.3s ease 0.9s, transform 0.3s ease 0.9s;
        label{
            @include boldfont();
            color: #fff;
            @include fluid-type($min_width, $max_width, 18px, 22px);
        }
        input{
            background-color: transparent;
            color: #fff;
            padding: 20px 25px;
            border: none;
            border-bottom: 2px solid #fff;
            border-radius: 0px;
            @include normalfont();
            @include fluid-type($min_width, $max_width, 30px, 50px);
            &:focus{
                outline: none;
                box-shadow: none;
            }
        }
    }
    .searchcnt{
        position: relative;
        a{
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translate(0,-50%);
            color: #fff;
            @include fluid-type($min_width, $max_width, 30px, 40px);
        }
    }
    .main-container-menu{
        position: relative;
        height: calc(100vh - 164px);
        @media screen and (max-width: 575px)
        {
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .service-menu-cnt
        {
            h4{
                @include boldfont();
                color: $da_orange_color;
                @include fluid-type($min_width, $max_width, 18px, 22px)
            }
            @media screen and (min-width: 576px)
            {
                position: absolute;    
                bottom: 0;
                width: 100%;
            }
        }
        .service-links{
            padding-left: 0;
            @include nthChildNav(li, 6);
            li{
                opacity: 0;
                transform: translateY(25px);
                list-style: none;
                margin-bottom: 15px;
                a{
                    @include normalfont();
                    text-decoration: none;
                    @include fluid-type($min_width, $max_width, 16px, 18px);
                    color: #fff;
                    position: relative;
                    @include linkbefore();
                }
            }
        }
    }
}

@keyframes animateherobg {
    0% { 
       background-size: 95%;
    }
    to { 
        background-size: 100%;
    }
}

@keyframes firstdot {
    from { 
       transform: translate(0px,0px) scale(1);
    }
    to { 
       transform: translate(95vw,85vh) scale(1.5);
    }
}

@keyframes seconddot {
    from { 
       transform: translate(95vw,85vh) scale(1.5);
    }
    to { 
       transform: translate(0px,0px) scale(1);
    }
}

@keyframes thirdot {
    from { 
       transform: translate(95vw,10vh) scale(1.5);
    }
    to { 
       transform: translate(0px,90vh) scale(1);
    }
}

@keyframes fourthdot {
    from { 
       transform: translate(50vw,50vh) scale(1.5);
    }
    to { 
       transform: translate(50vw,10vh) scale(1);
    }
}

@keyframes fifthdot {
    from { 
       transform: translate(50vw,50vh) scale(1.5);
    }
    to { 
       transform: translate(95vw,50vh) scale(1);
    }
}

@keyframes dotscale {
    0% { width: 10px; height: 10px; }
    100%   { width: 50px; height: 50px; }
}